<div class="jumbotron">
  <div class="container">
    <h1>OratorLab</h1>
    <p>A place for talking about things.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h3>Your Best Self</h3>
    <p>The art of oration - like any art form - takes time and effort to develop.  Whether it's a speech for your company
        or a wedding toast in front of the whole family, here at OratorLab we've got you covered.  Our panel of experts
        will work with you on speech delivery, tone, and all of the fine tuning your project deserves.  With over 1000 volunteer
        experts in 6 different countries, we are here to help you present your best self. </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
